* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #080808;
}

body {
  color: #fff;
}
.sub-title {
  padding: 2%;
  font-size: 70px;
  text-align: center;
  font-weight: 900;
}
#portfolio {
  padding: 50px;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work-list .work img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 0, 79, 0.6));
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 24px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 40px;
  background: none;
}
.layer p {
  background: none;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;

  background: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.layer a i {
  background: none;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .work-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 400px) {
  .work-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
  }
}
